language: go
sudo: false

matrix:
  include:
    - go: 1.6
    - go: 1.7
    - go: tip
    
before_install:
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
script:
  - $HOME/gopath/bin/goveralls -service=travis-ci
  - export INSTA_PULL = "${TRAVIS_PULL_REQUEST}" && go test -v ./...
